# snippet for an anonymous function
snippet afn
function($1) {
	$0
}
endsnippet


snippet bbview
define(['views/base'],function(BaseView) {
    
    var $1 = BaseView.extend({
		$0 
    });

    return $1;
});
endsnippet
