#A new footnote reference
snippet fnr
<sup id="fnref:$1">[$1](#fn:$1)</sup>$0
endsnippet

#A new footnotes area
snippet fns
<div class="footnotes">
<ol>
    <li class="footnote" id="fn:1">
        <p>
		$1
		</p>
        <a href="#fnref:1" title="return to article"> ↩</a></p>
    </li>
</ol>
</div>$0
endsnippet


#A new footnote message
snippet fnm
    <li class="footnote" id="fn:$1">
        <p>
		$0
		</p>
        <a href="#fnref:$1" title="return to article"> ↩</a></p>
    </li>
endsnippet

