snippet subs

### Subscribe

Thanks for taking the time to read this post!  $1 is one of the main topics of this blog, so if you enjoyed the post, please consider subscribing by using the [feed](http://feedpress.me/benmccormick), [Twitter](http://twitter.com/benmccormickorg) or my [mailing list](http://eepurl.com/WFYon). You also might want to check out $0.

endsnippet

snippet moreres

### More Resources

-
-
-

endsnippet
